.background-splash {
  width: 100%;

  @include vendor-prefix(background-size, cover);

  @include media-query(palm) {
    background-position-y: 0;
  }
  @include media-query(lap) {
    background-position-y: -200px;
  }
  @include media-query(desk) {
    background-position-y: -400px;
  }
  @include media-query(desk-side) {
    background-position-y: -600px;
  }

  &.fold {
    background-image: url('./images/pirateCove.jpg');
    top: 0;
    @include vendor-prefix(filter, blur(1px) hue-rotate(90deg));
  }
  &.page-content {
    background-color: $lightBlue;
    padding-top: 120px;
    &.alternate {
      background-color: $darkBlue;
    }
  }
}