@import 'inuit/style';
@import 'csswizardry-grids-master/csswizardry-grids';

$break-large: 1400px;
$break-medium: 1100px;
$break-small: 900px;
$break-phone: 750px;

$lightBlue: #3498db;
$medBlue: #2980b9;
$darkBlue: #2c3e50;
$light: #ecf0f1;
$highlighter: #e74c3c;


@import 'layout';
@import 'font-styles/font-styles';
@import 'tech-skills';