html {
  // overflow: hidden;
}

.background-splash {
  width: 100%;
  position: absolute;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include media-query(palm) {
    background-position-y: 0;
  }
  @include media-query(lap) {
    background-position-y: -200px;
  }
  @include media-query(desk) {
    background-position-y: -400px;
  }
  @include media-query(desk-side) {
    background-position-y: -600px;
  }

  &.fold {
    background-image: url('./images/pirateCove.jpg');
    z-index: 100;
    top: 0;
  }
  &.page-content {
    background-color: $lightBlue;
    z-index: 90;
    // top: 0;
  }
}