.title {
  position: relative;
  z-index: 300;
  top: 100px;
  @extend .text--center; 
  h1 {
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    font-size: 200px;
  }
  h2, a {
    font-size: 30px; 
    color: orange;
    font-weight: 200;
  }
}