<div class='title'>
  <h1>Matt Goo</h1>
  <h2>WebDeveloper</h2>
  <h2><a href='https://twitter.com/moog16'>@moog16</a></h2>
</div>
<div class='background-splash fold'></div>


{{outlet}}
{{!-- <div class='push push-sides navbar'>
  {{#link-to 'resume'}}Resume{{/link-to}}
  {{#link-to 'technology-skills'}}Skills{{/link-to}}
</div> --}}
