<div class='title'>
  <h1>Matt Goo</h1>
  <h3>WebDeveloper</h3>
  <h3><a href='https://twitter.com/moog16'>@moog16</a></h3>
</div>

{{#each resume}}
  {{resume-entry
    entry=this}}
{{/each}}

{{#link-to 'technology-skills'}}Skills{{/link-to}}