<div class='background-splash page-content'>
  {{partial 'partials/resume'}}
</div>
<div class='background-splash page-content alternate'>
  <img class='circle small' src='./assets/images/frontPage/beach.jpg'/>
  <img class='circle' />
  <img class='circle' />
  <img class='circle' />
  {{!-- {{partial 'partials/tech-skills'}} --}}
</div>
