<div class='background-splash fold'></div>
<div class='background-splash page-content'>
  {{partial 'partials/resume'}}
</div>
<hr class="rule rule--dotted">
<div class='background-splash page-content alternate'>
  {{partial 'partials/tech-skills'}}
</div>
