<div class='title'>
  <h1>Matt Goo</h1>
  <h2>WebDeveloper</h2>
  <h2><a href='https://twitter.com/moog16'>@moog16</a></h2>
  {{#link-to 'resume'}}resume{{/link-to}}
</div>
<div class='background-splash fold'></div>

<section>
  
</section>
