<div class='bg page-content'>
  <div class='grid grid--center'>
    <div class="grid__item lap--two-thirds desk--one-half">
      {{#each arrangedContent}}
        {{resume-entry entry=this}}
      {{/each}}
    </div>
  </div>
</div>