<h3 class='push--left'>things I'm good at</h3>

<div class='grid grid--center tech-skills'>
  {{#each model}}
    {{#if this.isLong}}
        <img {{bind-attr src=imageUrl alt=imageTitle class='img--short grid__item one-third'}}>
    {{/if}}
  {{/each}}
  {{#each model}}
    {{#unless this.isLong}}
        <img {{bind-attr src=imageUrl alt=imageTitle class='grid__item one-third'}}>
    {{/unless}}
  {{/each}}
</div>


{{!--
<img class='img--round img--left img--short' src='./assets/images/logos/sass_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/emberjs_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/java_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/springmvc_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/handlebarsjs_logo.png' />
--}}å