<h3 class='push--left'>things I'm good at</h3>

{{#if model}}{{debugger}}{{/if}}

{{#each model}}
{{log 'hello'}}
  <img {{bind-attr src=imageUrl alt="imageTitle" class='img--round img--left img--short'}}>
{{/each}}


{{!--
<img class='img--round img--left img--short' src='./assets/images/logos/sass_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/emberjs_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/java_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/springmvc_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/handlebarsjs_logo.png' />
--}}