<h3 class='push--left'>things I'm good at</h3>

<div class='grid grid--center tech-skills'>
  {{#each model}}
    {{#if this.isLong}}
      {{!-- <div class='grid__item palm-- lap--one-eigth desk--one-sixth'> --}}
        <img {{bind-attr src=imageUrl alt=imageTitle class='img--short grid__item lap--one-eigth desk--one-sixth'}}>
      {{!-- </div> --}}
    {{/if}}
  {{/each}}
  {{#each model}}
    {{#unless this.isLong}}
      {{!-- <div class='grid__item lap--one-eigth desk--one-sixth'> --}}
        <img {{bind-attr src=imageUrl alt=imageTitle class='grid__item lap--one-eigth desk--one-sixth'}}>
      {{!-- </div> --}}
    {{/unless}}
  {{/each}}
</div>


{{!--
<img class='img--round img--left img--short' src='./assets/images/logos/sass_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/emberjs_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/java_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/springmvc_logo.png' />
<img class='img--round img--left img--short' src='./assets/images/logos/handlebarsjs_logo.png' />
--}}å